body{
  background: url("assets/2.gif") no-repeat center;
  background-color: black;
}

.container{
  margin: 0 auto;
  text-align: center;
  width:1000px;
  max-width: 1000px;
}
.user-search{
  width: 25vmax;
  padding: 12px;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  top: 58%;
  left: 38%;
  outline: none;
}
.display-gif{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  left: 10%;
  top:10%;
  padding: 10px;
}
img{
  padding:5px 10px;
}
.two{
 transform: translateY(160%);
}

.address{
  color: white;
  position: absolute;
  bottom:-30%;
  word-break: break-all;
}

.btns{
  display: flex;
  justify-content: center;
  height: 100%;
  transform: translateY(-10%);
}
.change-gifs,
.trending{
  align-self: center;
  margin: 5px 12px;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: serif;
  box-shadow: 5px 15px 15px rgb(56, 55, 55),5px -15px -15px rgb(54, 54, 54);
}
.change-gifs{
  background: linear-gradient(to top left,rgb(212, 37, 37), rgb(115, 255, 0));
}
.trending{
  background: linear-gradient(to top left,rgb(54, 56, 212), rgb(0, 255, 255));
}

.lds-hourglass {
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 48.1%;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid rgb(255, 255, 255);
  border-color: rgb(255, 255, 255) transparent rgb(255, 255, 255) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}