@import url('https://fonts.googleapis.com/css?family=Unlock');

*,html,body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background: url(../img/iron-man-simple-2-4k.jpg) no-repeat;
  background-size: cover;
}

.container {
  max-width: 1000px;
  display: flex; 
  text-align: center;
  position: relative;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;  
}

.window{
  position: absolute;
  left: 50%;
}

.window2{
  display: grid;
  justify-content: end;
  transform: translate(30%,35%);
}

.heading {
  color: firebrick;
  text-transform: uppercase;
  text-shadow: 3px 3px 8px rgba(0,0,0,.6),-3px -3px 8px rgba(0,0,0,.6);
  letter-spacing: .1rem;
  font-size: 2.4rem;
  text-align: center;
}

ul{
  text-align: center;
  padding: 15px;
}

li {
  background: #f4f4f4;
  display: flex;
  padding: 5px;
  width: 24vw;
  border-bottom: 1px solid #222;
  margin-top: -19px;
  background: yellowgreen;
  text-transform: uppercase;
  font-weight: bold;
}

input[type=checkbox]{
  height: 1.2rem;
  width: 1.2rem;
  margin: .4rem;
  outline: 0;
  box-shadow: 2px 2px 5px rgba(0,0,0,.6);
  border: none;
}

label {
  font-size: 1.3rem;
  padding: .1rem; 
  padding-left: 5rem;
}

.addValues {
  display: flex;
}

input[type=text]{
  background: whitesmoke;
  outline: none;
  border: 2px solid #444;
  border-radius: 15px;
  height: 2.4rem;
  padding: .26rem 1.2rem;
  margin-left: 1rem;
}

.addBtn {
  background: rgb(196, 158, 192);
  margin-left: .5rem;
  padding: .5rem;
  height: 2vmax;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.6);
  width: 7.5vw;
  text-align: center;
}

a{
  text-decoration: none;
  color: #222;
}

.list{
  position: relative;
}

.close {
  position: absolute;
  left: 90%;
  font-size: 1.6rem;
  cursor: pointer;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
  filter: blur(.78px);
}

/* clock css */

.clock {
  width: 25vw;
  height: 20vh;
  display:flex;
  transform: translate(7%,55%);
  margin: 0 auto;
}

.hour,
.minute,
.sec {
  font-size: 4rem;
  font-weight: bold;
  color: whitesmoke;
  font-family: 'Unlock', cursive;
  text-shadow: 2px 2px 5px rgba(0,0,0),-2px -2px 5px rgba(0,0,0);
}

.section{
 transform: translate(-5vw,30vh);
}

.greeting{
  font-size: 3rem;
  font-weight: bold;
  color: whitesmoke;
  font-family: 'Unlock', cursive;
  text-shadow: 1px 1px 5px rgba(0,0,0),-1px -1px 5px rgba(0,0,0);
  margin: 2rem;
}

.for__quotes {
  font-size: 2rem;
  color: whitesmoke;
  font-family: 'Unlock', cursive;
  text-shadow: 1px 1px 5px rgba(0,0,0),-1px -1px 5px rgba(0,0,0);
  margin: 1rem auto;
  line-height: 1.5;
}

.user-info {
  margin: 4rem 0;
}
.edit{
 transform: rotate(90deg);
 position: absolute;
  left: 80%;
}